<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

    </style>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                url:"/backend/get/users",
                type:"post",
                data:{},
                dataType:"json",
                success:function (data) {
                    $.each(data,function (index,obj) {
                        $("tbody").append("<tr class=\"text-c\">" +
                            "<td><input name='' type='checkbox' value=''></td>" +
                            "<td>"+(index+1)+"</td>" +
                            "<td>"+obj.username+"</td>" +
                            "<td >"+obj.usericon+"</td>" +
                            "<td>"+obj.userphone+"</td>" +
                            "<td>"+obj.useremail+"</td>" +
                            "<td>"+obj.adress+"</td>" +
                            "<td>"+obj.userstate+"</td>" +
                            "<td><button>修改</button>&nbsp;&nbsp;&nbsp;<button>删除</button></td>" +
                            "</tr>")
                    })
                }
            })
        })
    </script>
</head>
<body>

<div style="margin: 0 auto">
    <form class="form-inline">
        <div class="form-group">
            <label for="text">用户名</label>
            <input type="text" class="form-control" id="text" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="status">状态查询</label>
            <select class="form-control" id="status">
                <option value="0">未删除</option>
                <option value="1">已删除</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default" style="background-color: dodgerblue">查询</button>
    </form>
</div>
<div class="table-responsive" style="margin-top: 30px ">
    <table class="table">
        <thead>
        <tr>
            <td><button id="btn">全选</button></td>
            <td>序号</td>
            <td>用户名</td>
            <td>头像</td>
            <td>手机号</td>
            <td>电子邮箱</td>
            <td>收货地址</td>
            <td>删除状态</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
<script>
    var tmp=0;
    $("#btn").click(function () {
        if(tmp!=0){
            var val=$("input[type='checkbox']");
            val.each(function () {
                $(this).prop("checked",false);
            })
            tmp=0;
            return;
        }
        var val=$("input[type='checkbox']");
        val.each(function () {
            $(this).prop("checked",true);
        })
        tmp=1;
    })
</script>
</html>